DATABASE_URL="mysql://user_lalande_datastore_001_loc:Root12345@localhost:3306/db_lalande_datastore_communication"

AWS_REGION=us-east-1
AWS_SQS_QUEUE_URL=http://localhost:4566/000000000000/queue-lalande-communication
AWS_ENDPOINT=http://localhost:4566
