DATABASE_URL="mysql://user_lalande_datastore_001_loc:Root12345@localhost:3306/db_lalande_datastore_communication"

AWS_REGION=us-east-1
AWS_SQS_QUEUE_URL_PENDING=http://localhost:4566/000000000000/queue-lalande-communication-pending
AWS_SQS_QUEUE_URL_DELIVERED=http://localhost:4566/000000000000/queue-lalande-communication-delivered
AWS_ENDPOINT=http://localhost:4566
